<!--
  Generated template for the DescriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Description</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="recipe">
  <ion-card >

    <ion-item>
      <ion-avatar item-start>
        <img [src]="recipe.avatarUrl"/>
      </ion-avatar>
      <ion-textarea
        rows="2"
        type="text"
        [(ngModel)]="recipe.title">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea
        rows="2"
        type="text"
        placeholder="Category"
        [(ngModel)]="recipe.category">
      </ion-textarea>
    </ion-item>
    <img  [src]="recipe.imgUrl" height="auto" width="100%"/>

<ion-item>
      <ion-textarea
        rows="10"
        type="text"
        placeholder="Ingredients"
        [(ngModel)]="recipe.ingredients">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea
        rows="15"
        type="text"
        placeholder="Direction"
        [(ngModel)]="recipe.description"></ion-textarea>
    </ion-item>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
    </ion-list>
  <button
    ion-button
    color="primary"
    round
    (click)="delete()">Delete</button>
  <button
    ion-button
    color="primary"
    round
    (click)="update()">Update</button>

  <h5 *ngIf="!recipe">No recipe found!!</h5>



</ion-content>
