page-home {
}
.button-md-primary {
  clear: right;
  display: block;
  margin: 25px auto;
}
  button a {
    color:white;
    margin: auto;
   padding: auto;

      }

  .logo {
    text-align:center;
  }
  .logo img{
      margin: 20% auto  ;
    max-width: 100%;

    }

  .symbol {

   margin-left: 65%;
    margin-top: 10%;
    max-height: 400px;

  }

.symbol img {

}




